!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title default.domain
    %link{ type: "image/x-icon", href:"/favicon.ico", rel: "icon" }
    %link{ type: "text/css", href: "all.css", rel: "stylesheet" }
    %link{ type: "text/css", href: "//fonts.googleapis.com/css?family=Merriweather:400,700,700italic|Montserrat:700", rel: "stylesheet" }

  %body
    %main
      %h1 default.domain
      %h2 oWeb Hosting
    %footer
      %p this is the default web page. place your content here to replace it.
      %p
        hosting by
        %a{href: "http://oliveraweb.com"} olivera web
        \- source on
        %a{href: "https://github.com/sman591/oweb-default"} github
    #bgalt
